@model List<Product>


@{
    ViewData["Title"] = "Index";
}

<h1>Ürünlerimiz</h1>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    
                    <h5>Ürün Adı @product.ProductName</h5>
                    <span>Ürün Id: @product.ProductId</span>
                    <span>Ürün fiyatı: @product.UnitPrice</span>
                    <span>Stok Miktarı:@product.UnitsInStock</span>
                    
                </div>
            </div>

        }
    </div>

</div>

